.locations-container {
  position: absolute;
  top: 100px;
  right: 3vw;
  z-index: 81;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
  width: 30vw;
  height: 83vh;
  overflow: auto;
  background: rgba(0, 159, 255, 0.8);
  background: linear-gradient(
    135deg,
    rgba(236, 47, 75, 0.8),
    rgba(0, 159, 255, 0.8)
  );
}

div.location-thumbnail {
  margin: 10px;
  margin-top: 20px;
  font-size: 150%;
  font-weight: bold;
}

div.fade.popup-playlists-container.modal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  iframe {
    margin: 20px;
  }
}

div.card-img-overlay {
  background: black;
  background: rgba(0,0,0,0.3);
}

div.card-img-overlay:hover {
  background: black;
  background: rgba(0,0,0,0);
  cursor: pointer;
}