.Body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 8%;
  padding-bottom: 1%;
  background-color: $second-background-color;
}

.navbar {
  background-color: $navbar-background-color;
}

.navbar-brand {
  font-weight: bold;
  font-size: 200%;
  font-family: 'Lobster Two', cursive;
  color: white;

  img {
    height: 4vw;
  }

  span.username {
    font-size: 80%;
  }
}

.nav-item button {
  border: 0.5px solid $primary-font-color;
}
h4.local {
  color:$secondary-font-color;
  margin-top: 8px;

  img {
    height: 3.5vw;
  }
}

button.btn-dark {

  img {
    height: 2.5vw;
  }
}

.events-container {
  justify-content: center;
  overflow: auto;
  height: -webkit-fill-available;
  text-align: center;

  h4{
    font-weight: bold;
    margin-top: 40vh;
    color: white;
  }
}

.map-container {
  position: relative;
  z-index: 80;
  width: 40vw;
  display: flex;
  flex-direction: column;
  // justify-content: center;


.date-form{
  position: relative;
  z-index: 100;
  // display:flex;
  margin-top: 5%;

}

  h3 {
    position: relative;
    z-index: 80;
    margin: 20px;
  }

  h2 {
    position: relative;
    font-weight: bold;
    color: $secondary-font-color;
  }



  .form-inline input.form-control {
    margin-left: 3vw;
    width: 25vw;
  }
}


section.card {
  margin-bottom: 10px;
}

div.card-body {
  height: fit-content;
  background-color: $navbar-background-color;
  color: $secondary-font-color;
  font-style: italic;

  h4.card-title {
    font-weight: bold;
    margin-top: 0;
    color: #1db954;
  }
}

div.playlist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -webkit-fill-available;

  section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
  }

  button {
    flex-grow: 1;
    font-weight: bold;
    color: white;
  }

  button.btn.generate-button {
    background-color: #1db954;
  }
}

.popup-form-button {
  background-color: #8A2BE2;
  border: none;
  font-weight: bold;
  margin-top: -20px;
}
