.Body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 7%;
  padding-bottom: 1%;
  background-color: $second-background-color;
}

.navbar {
  background-color: $navbar-background-color;
}
.navbar-brand {
  font-weight: bold;
  font-size: 200%;
  font-family: 'Lobster Two', cursive;
  color:white;
}

.nav-item button {
  border: 1px solid $primary-font-color;
}
.local {
  color:$secondary-font-color;
  display: flex;
}

span.username {
  color: $primary-font-color;
  size: 200%;
}

.events-container {

  overflow: auto;
  height: -webkit-fill-available;

  .loading {
    color: white;
    font-size: 300%;
  }
}

.map-container {
  position: relative;
  z-index: 80;
  width: 40vw;
  display: flex;
  flex-direction: column;
  // justify-content: center;


.date-form{
  position: relative;
  z-index: 100;
  // display:flex;
  margin-top: 5%;

}

  h3 {
    position: relative;
    z-index: 80;
    margin: 20px;
  }

  h2 {
    position: relative;
    font-weight: bold;
    color: $secondary-font-color;
  }



  .form-inline input.form-control {
    margin-left: 3vw;
    width: 25vw;
  }
}


section.card {
  margin-bottom: 10px;
}

div.card-body {
  height: fit-content;
  background-color: $navbar-background-color;
  color: $secondary-font-color;
}

div.playlist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -webkit-fill-available;

  section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
  }

  button {
    flex-grow: 1;
  }

  button.btn.generate-button {
    background-color: #1db954;
  }
}

