.Body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 7%;
  padding-bottom: 1%;
  background-color: $second-background-color;
}

.navbar {
  background-color: $navbar-background-color;
}
.navbar-brand {
  font-weight: bold;
  font-size: 200%;
  font-family: 'Lobster Two', cursive;
  color:white;
}

.nav-item button {
  border: 1px solid $primary-font-color;
}

.events-container {
  overflow: auto;
  height: -webkit-fill-available;
}

.playlist-container {
  color: white;
}
.map-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
}
.center-column {
  position: relative;
  z-index: 0;
  width: 40vw;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  // background-color: $primary-background-color;

// .search-container{
//   position: relative;
//   z-index: 100;
// }
  .map-container {
    position: absolute;
    z-index: 0;
    display: flex;
    flex-direction: column;
  }

  h3 {
    position: relative;
  z-index: 100;
    margin: 20px;
  }

  h2 {
    position: relative;
  z-index: 100;
    font-weight: bold;
    color: $secondary-font-color;
  }

  .form-inline input.form-control {
    margin-left: 3vw;
    width: 25vw;
  }
}

section.card {
  margin-bottom: 10px;
}

div.card-body {
  height: fit-content;
  background-color: $navbar-background-color;
  color: $secondary-font-color;
}

div.sidebar {
  background-color: #1DB954;
  color: $primary-font-color;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h2, button {
    margin: 20px;
  }
}