$primary-background-color: #0000;
$second-background-color: #3A4046;
$navbar-background-color: #121C52;
$primary-font-color: #FFFF;
$secondary-font-color: #FFA987;

// Vendor
@import url('https://fonts.googleapis.com/css?family=Lobster+Two:400,700,700i|Raleway:400,400i,500,500i,600,600i,700,700i&display=swap');
@import '~bootstrap/scss/bootstrap.scss';

// App
@import "layout";
@import "login";
@import "app";
@import "home";
@import "history";
