$primary-background-color: #022B3A;
$navbar-background-color: #343a40;
$primary-font-color: white;
$secondary-font-color: #FFA987;

// Vendor
@import url("https://fonts.googleapis.com/css?family=Lobster+Two:400,700,700i|Rokkitt:500&display=swap");
@import '~bootstrap/scss/bootstrap.scss';

// App
@import "layout";
@import "app";
@import "home";
